.video-container{
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  
  .grid-content{
    grid-area: content;
  
  }  
  .grid-header {
    grid-area: header;
  }

  .grid-wrapper{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr;
    grid-template-areas:
    'header'
    'content'
  }

  .subheader-content{
    width:100%;
    margin : 0; 
  }

.view-code-button{
  padding-top: 10px;
  margin-left: 90px;
}

.skill-icon{
  background-color: #fff;
  color: #630097;

}